*.pyc
*.egg-info
*.wav
.ipynb_checkpoints
model.data*
model.index
model.meta
checkpoint
dist
audio_gatedcnnarch.py
hidrometer_consumption.py
fishers_multiclass.py
modelsaver.py
pre_processing.py
sgdfilters.py
HACKING.txt
